@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.main-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}

.title-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.main-screen-picture {
  background-image: url("../img/index-background.jpeg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.advantages-item {
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-title {
  text-transform: uppercase;
  background-color: #83b3d3;
}

.advantages-title:nth-child(n + 3) {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(n + 3) {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-number:nth-child(n + 3) {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #83b3d3;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-color: #ffffff;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.booking {
  color: #000000;
  background-color: #ffffff;
}

.booking-text {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button.booking {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}

.footer-subscribe {
  background-image: url("../img/catalog-background.png");
  background-color: #83b3d3;
  color: #ffffff;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #83b3d3;
}

.button.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.catalog-filter {
  background-image: url("../img/catalog-background.png");
  background-color: #83b3d3;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-main-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.control-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.money-field {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.control-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.sorting-block {
  color: #000000;
  background-color: #ffffff;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.sorting-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
}

.product-card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.miniblock-left.miniblock-right {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button a {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.product-card-button-brown {
  background-color: #756257;
}

.product-card-button-blue {
  background-color: #83b3d3;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-link {
  background-color: #83b3d3;
}

.pagination-current {
  color: #333333;
  background-color: #f2f2f2;
}

.quantity-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
