@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.page-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.main-navigation {
  display: flex;
  padding: 0 72px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  flex-grow: 1;
}

.navigation-user {
  justify-content: flex-end;
  width: 250px;
  flex-grow: 1;
}

.navigation-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-right: 16px;
  color: #000000;
}

.navigation-user .navigation-link {
  min-height: 8px;
}

.button {
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation-button {
  font-size: 16px;
  line-height: 21px;
}

.title-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 63px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 23px;
  text-align: center;
}

.description-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding-bottom: 79px;
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 0;
}

.main-screen-picture {
  background-image: url("../img/index-background.jpeg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 83px;
}

.page-header {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  width: 400px;
  text-align: center;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 33.33%;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
}

.services-description {
  color: #333333;
  padding-top: 0;
  padding-bottom: 79px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0;
}

.advantages-description {
  color: #333333;
  padding-bottom: 77px;
  padding-top: 26px;
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-big .advantages-description {
  color: #ffffff;
}

.advantages-big,
.advantages-big:nth-child(even) {
  display: flex;
  flex-wrap: wrap;
  background-color: #83b3d3;
  color: #ffffff;
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 98px;
  padding-bottom: 25px;
  width: 100%;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0;
  padding-left: 75px;
  padding-right: 75px;
}

.booking {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  margin: 0;
  text-align: center;
}

.booking-text {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 15px;
  padding-left: 240px;
  padding-right: 240px;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 57px;
  padding-top: 0;
  padding-right: 240px;
  padding-left: 240px;
  margin: 0;
}

.button-booking {
  font-size: 20px;
  line-height: 36px;
  padding-left: 312px;
  padding-right: 312px;
  padding-bottom: 91px;
  padding-top: 0;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 15px;
  padding-right: 240px;
  padding-left: 240px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-right: 240px;
  padding-left: 240px;
  padding-top: 0;
  padding-bottom: 26px;
}

.subscribe-form {
  margin: 0;
  padding-bottom: 94px;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 0;

}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-subscribe {
  background-image: url("../img/catalog-background.png");
  background-color: #83b3d3;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-social {
  width: 210px;
  padding-left: 72px;
  padding-top: 49px;
  padding-bottom: 53px;;
  flex-grow: 1;
}

.footer-social-list {
  list-style-type: none;
}

.footer-contacts-address {
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-developer {
  width: 210px;
  padding-right: 72px;
  padding-left: 53px;
  flex-grow: 1;
  justify-content: flex-end;
}

.catalog-filter {
  background-image: url("../img/catalog-background.png");
  background-color: #83b3d3;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-main-header {
  display: flex;
  flex-direction: column;
  padding-left: 72px;
  padding-top: 35px;
  padding-bottom: 5px;
  margin: 0;
}

.page-main-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  margin-right: 26px;
}

.catalog-products {
  width: 100%;
}

.catalog-filter-form {
  display: flex;
  padding-left: 72px;
}

.control-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-group {
  width: 210px;
  padding-right: 40px;
}

.control-group-price {
  width: 285px;
}

.control-group-buttons {
  width: 160px;
  padding-right: 72px;
  padding-left: 80px;
}

.catalog-filter-list {
  margin: 0;
  padding-left: 20px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.money-field {
  font-size: 18px;
  line-height: 23px;
}

.control-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.control-reset {
  font-size: 18px;
  line-height: 23px;
}

.sorting-block {
  color: #000000;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 42px;
  padding-left: 72px;
  padding-right: 72px;;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 525px;
  height: 39px;
}

.sorting-type {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  width: 287px;
  height: 48px;
  margin-right: auto;
  padding-right: 81px;
}

.select-control {
  color: #333333;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 127px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: 200px;
  margin: 0;
}

.catalog-buttons-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-cards-grid {
  padding-right: 8px;
}

.button-cards-gallery {
  padding-right: 8px;
}

.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
}

.miniblock-left.miniblock-right {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

a {
  text-decoration: none;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83b3d3;
}
.button-success {
  background-color: #7db54f;
}

.rating-text {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0;
  padding: 0;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #ffffff;
  margin-top: 31px;
  margin-bottom: 89px;
  margin-right: 72px;
  margin-left: 72px;
  padding: 0;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
  text-align: center;
  align-items: center;
}

.pagination-link {
  display: block;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
  width: 55px;
  height: 55px;
  padding: 20px;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.quantity-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 400px;
  height: 48px;
  margin-left: auto;
  margin-right: 72px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
